* {
    background-color: black;
    color: white;
}

main {
    height: 100vh;
    margin-bottom: -1px;
}

.content {
  display: flex;
}

h1 {
    font-size: 15rem;
}

h2 {
    font-size: 3.3rem;
}

.intro-text {
  margin-right: 3rem;
}

.contact-info {
  margin-left: 3rem;
}

.contact-info, .email, .mail, .email p, .email a, .mail p {
    background-color: rgb(9, 9, 9);
}

.contact-info a {
    color: rgb(255, 255, 255);
}

/* codepen */
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  h1 span, h2 span {
    display: inline-block;
    animation: slideLeft 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  @keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(200px);
    } 
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }

@media screen and (max-width: 400px) {
  h1{
    font-size: 12rem;
  }

  h2 {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 339px) {
  h1{
    font-size: 9rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 919px) {
  .content {
    display: block;
  }
  .intro-text {
    margin-right: 0;
  }
  .contact-info {
    margin-left: 0;
  }
  footer {
    margin-top: 150px;
  }
}
