@media only screen and (max-width: 767px) {
    .header__logo--center-mobile,
    .header__tagline--center-mobile {
        text-align: center;
    }

    .header__tagline {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 18px;
    }

    .main {
        padding-top: 65px;
        padding-bottom: 80px;
    }
}