main {
    padding-top: 100px;
}

header {
    background-color: black;
}

.text {
    max-width: 1000px;
}

.contact {
    background-color: rgb(243, 243, 243);
}

@media screen and (min-width: 768px) {
    .contact {
        min-width: 970px;
    }
}