@import url('http://fonts.cdnfonts.com/css/d-din');
/* font-family: 'D-DIN', sans-serif;
font-family: 'D-DIN Condensed', sans-serif;
font-family: 'D-DIN Exp', sans-serif; */

* {
    font-family: 'D-DIN', sans-serif;
}

body {
    background-color: black;
}

.logo {
    max-width: 160px;
}

footer li, footer p {
    font-size: 0.8rem;
}

footer a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

footer a:hover {
    color: rgb(255, 255, 255);
}